<section class="container content-section text-left">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <h2>Getting Here</h2>
      <p>
        For those flying in, the most convenient airport is Westchester County
	Aiport (HPN), which is about a 40 minute drive from our hotel room block 
	in Danbury, CT. All the listed airports have car rentals available
	on-site
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-4 col-sm-6 text-left">
      <h5>
        Westchester County Airport (HPN)
      </h5>

      <ul>
        <li>White Plains, NY</li>
        <li>40 minute drive from hotel</li>
      </ul>
    </div>

    <div class="col-lg-4 col-sm-6 text-left">
      <h5>
        Bradley International Airport (BDL)
      </h5>
      <ul>
        <li>Hartford, CT</li>
        <li>75 minute drive from hotel</li>
      </ul>
    </div>
 
    <div class="col-lg-4 col-sm-6 text-left">
      <h5>
        NYC Airports (LGA/JFK/EWR)
      </h5>

      <ul>
        <li>80+ minute drive from hotel</li>
	<li>Bigger and busier</li>        
      </ul>
    </div>

  </div>
  
</section>
s
<section class="container content-section text-left">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <h2>Where to Stay</h2>
      <p>
        We will be obtaining hotel room blocks for anyone traveling from out of town.
        Please follow this site for more information as it becomes available.
      </p>
    </div>
  </div>
</section>

<section class="container content-section text-left">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <h2 id="getting-around">Getting Around</h2>
      <p>
        Stay tuned for more information on events happening around town during our wedding weekend.
      </p>

      <div>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1SxP2nlfqvdu2sDNbhJPizhw-97rEgUA&ehbc&noprof=1" class="map"></iframe>
      </div>

    </div>
  </div>
</section>
